<?xml version="1.0" encoding="utf-8"?>
<launch>
    <include file="$(find navigation_stage)/launch/move_base_fake_localization_2.5cm.launch" />
    <rosparam command="load" file="$(find odrive_ros)/example/params.yaml" />
    <node name="odrive_node" pkg="odrive_ros" type="odrive_node.py" output="screen" >
        <remap from="~cmd_vel" to="/cmd_vel"/>
    </node>
</launch>